server:
  port: 8083

spring:
  application:
    name: ${APP_NAME:events-service} 
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://config-server:8888}
  cloud:
    config:
      fail-fast: true
      retry:
        max-attempts: 5
        initial-interval: 2000
        multiplier: 1.5

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    com.broko.events: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
