server:
  port: 8083

spring:
  application:
    name: events-service
  datasource:
    url: jdbc:postgresql://localhost:5432/events_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
